.App {
  text-align: center;
  margin: auto 0;
  display: flex;
  justify-content: space-around;
  height: 95vh;
  width: 97.5vw;
  border: 10px black solid;
}

.detailCard{
  flex-direction: column;
  border: 10px black solid;
}

.list{
  flex-direction: column;
  border: 10px black solid;
}

.listBox{
  border: 2px black solid;
  height:550px;
  overflow: scroll;
}


.spell-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}